@import "../../../commonStyles/color.module.scss";
@import "../../../commonStyles/button.module.scss";
@import "../../../commonStyles/font.module.scss";
@import "../../../commonStyles/media-queries.scss";

$d-flex: "";
$align-items: "";
$justify: "";
$align-self: "";
.d_flex {
  display: flex;
}
.btn_gray {
  @include button(254px, $button !important, $white-color !important, 20px, 900);
  img {
    margin: -2px 0px 0px 10px;
  }
}
.btn_gray:hover {
  @include button("", $button, $white-color, 20px, 900);
}
.btn_normal {
  @include button(171px, $white-color !important, $normal-btn-txt-clr !important, 20px, 500);
  img {
    margin: -4px 10px 0px 0px;
  }
}
.btn_normal:focus {
  outline: none;
  border: 1px solid $button;
}
.btn_gray:focus {
  outline: none;
  border: none;
}
.btn_normal:hover {
  @include button(171px, $white-color, $normal-btn-txt-clr, 20px, 500);
}
.instruction_header {
  font-style: normal;
  @include fontWeight(500);
  @include fontSize(20);
  line-height: 24px;
  color: $black-color;
  text-align: center;
}
@mixin dFlex($d-flex, $align-items, $justify, $align-self) {
  display: $d-flex;
  align-items: $align-items;
  justify-content: $justify;
  align-self: $align-self;
}
@mixin margin($mt, $mr, $mb, $ml) {
  margin-top: $mt;
  margin-right: $mr;
  margin-bottom: $mb;
  margin-left: $ml;
}
.img_fluid {
  max-width: 100%;
  height: auto;
}
.parent_div {
  background: linear-gradient(180deg, $white-color 0%, $light-white 100%);
}

.instruction_main_div_wrapper {
  max-width: 1600px;
  margin: auto;
  .assessment_btn {
    padding: 15px 0px 30px 0px;
  }
  .btn_margin {
    @include margin(1.5rem, 0, 3rem, 0);
  }
  .assessment_contents {
    position: relative;
    display: flex;
  }
  .assessment_body {
    width: 100%;
    padding: 10px 147px;
  }
  .assessment_contents_image {
    @include dFlex(flex, end, center, "");
  }

  .assessment_contents_image_mobile {
    display: none;
  }
  .best_wishes {
    display: inline-block;
  }
  .best_wishes_mobile {
    display: none;
  }
  .best_wishes_wrapper {
    padding-top: 20px;
    text-align: center;
  }
  @media (max-width: 950px) {
    .assessment_body {
      width: 100%;
      padding: 1px 20px;
    }
    .btn_gray {
      margin: auto;
    }
    .best_wishes_wrapper {
      justify-content: center;
      display: grid;
    }
    .best_wishes {
      display: none;
    }
    .best_wishes_mobile {
      display: block;
      padding-bottom: 10px;
    }
    .main_header_style {
      @include fontStyle(18px !important, 900, inherit);
    }
    .assessment_contents_image_mobile {
      display: block;
      margin-bottom: 20px;
    }
    .assessment_contents_image {
      display: none;
    }
    .ellipse_text {
      width: 100% !important;
    }
  }
  @media (max-width: 1153px) {
    .assessment_contents_image {
      img {
        width: 250px;
      }
    }
  }
  .assessment_div {
    text-align: center;
    margin: 46px 0px 60px 0px;
  }
  .ul_style {
    list-style: none;
  }

  .ul_style li::before {
    content: "\2022";
    color: $app-dark-color;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  .list_div {
    display: flex;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: normal;
    @include fontSize(5);
    line-height: 30px;
    color: $black-color;
  }

  .ellipse {
    width: 7px;
    height: 7px;
    padding: 4px;
    border-radius: 50%;
    margin: 12px 11px 0px 0px;
    background: $app-dark-color;
  }
  .main_header_style {
    font-style: normal;
    @include fontWeight(500);
    @include fontSize(20);
    line-height: 24px;
    color: $black-color;
  }
  @include respond(small) {
    .btn_gray {
      @include button(254px, $button, $white-color, 18px, 900);
      height: 40px;
    }
  }
}
.testlanding_main_wrapper {
  max-width: 1600px;
  margin: auto;
  .form_wrapper :global {
    .ant-form-item-label > label {
      color: $black-color;
      @include fontSize(6);
    }
    .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      display: none;
    }
  }
  .main_container {
    width: 100%;
    padding: 0px 120px 77px 120px;
  }
  .flex_class_ellipse {
    @include dFlex(flex, "", "", "");
  }
  .flex_class_img {
    @include dFlex("", center, "", flex-end);
  }
  .checkbox_dflex {
    @include dFlex(flex, center, "", "");
  }
  .testlanding_body_wrapper {
    background: linear-gradient(180deg, $white-color 0%, $light-white 100%);
  }
  .instruction_btn_rightarrow {
    margin: -4px 0px 0px 11px;
  }
  .insruction_div {
    text-align: center;
    padding: 46px 0px 58px 0px;
  }
  .url_link_clr {
    cursor: pointer;
    color: $link-clr;
  }

  .body_div {
    position: relative;
    padding: 0px 60px;
    .landing_header_content {
      @include fontWeight(200);
      margin-top: 8px;
    }
  }

  .common_text_header {
    font-style: normal;
    font-weight: normal;
    @include fontSize(5);
    line-height: 30px;
    color: $black-color;
  }
  .ellipse {
    width: 7px;
    height: 7px;
    padding: 4px;
    border-radius: 50%;
    margin: 12.7px 22px;
    background: $app-dark-color;
  }
  .ellipse_text {
    line-height: 2;
  }
  .checkbox_main_div {
    white-space: nowrap;
    @include respond(medium) {
      white-space: normal;
    }
  }
  .card_style {
    text-align: center;
    padding: 43px 78px;
    margin-top: 66px;
    background: $white-color;
    border: 1px solid $card-border-clr;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px $card-boxshadow;
    border-radius: 10px;
  }
  .instruction_card_header {
    @include fontWeight(100);
    @include fontSize(10);
    line-height: 24px;
    color: $black-color;
  }

  .card_body_wrapper {
    .instruction_nprmal_text {
      @include dFlex(flex, "", center, "");
      @include fontSize(6);
      @include fontWeight(0);
      font-style: normal;
      line-height: 19px;
      color: $black-color;
    }
  }
  .instruction_card_email {
    @include fontWeight(300);
    @include fontSize(6);
    line-height: 19px;
    color: $black-color;
    word-break: break-word;
  }
  .form_wrapper {
    form {
      width: 500px;
    }
  }
  .checkbox_text {
    @include fontWeight(200);
    @include fontSize(6);
    text-align: left;
    color: $black-color;
    margin: 16px 0px 16px 9px;
  }
  .check_box_style :global {
    height: 0px;
    margin-top: -30px;
    .ant-checkbox-checked .ant-checkbox-inner::after {
      height: 12px;
      margin: -1.5px 0px 0px 1px;
      width: 7px;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background: $check-color;
    }
    .ant-checkbox-inner {
      background: $white-color;
      height: 24px;
      width: 24px;
      border-radius: 4px;
      border-color: $check-color;
    }
    .ant-checkbox-checked:hover::after {
      border: none;
    }
  }
  .disabled_btn {
    opacity: 0.3;
    pointer-events: none;
  }
  .form_wrapper :global {
    .ant-form-item-explain {
      text-align: start;
    }
    .ant-input {
      @include fontSize(6);
      border-radius: 5px;
      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid $input-border-clr;
      }
    }
  }
  .sample_assessment_div {
    color: $sample-assessment-clr;
    background: $assessment-bg;
    border-radius: 10px;
    display: flex;
    margin-top: 33px;
    height: 50px;
    padding-left: 20px;
    align-items: center;
  }
  .plain_text_footer {
    @include fontSize(4);
    color: $black-color;
    padding: 20px 0px 0px 20px;
    text-align: left;
    .footer_assessment_txt {
      color: $black-color;
    }
  }
  .lady_img_mobile {
    display: none;
  }
  .btn_gray {
    @include button(327px, $button, $white-color, 20px, 900);
    margin-top: 30px;
  }
  @media only screen and (max-width: 770px) {
    .insruction_div {
      padding-bottom: 20px;
    }
    .instruction_header {
      @include fontStyle(18px, 900, inherit);
    }
    .lady_img_mobile {
      display: block;
      margin-bottom: 20px;
    }
    .lady_img {
      display: none;
    }
    .instruction_btn {
      font-size: initial;
      width: 200px;
    }
    .checkbox_text {
      @include fontSize(4);
      line-height: 20px;
      text-align: left;
      text-align: initial;
    }
    .form_wrapper {
      padding: 0;
    }
  }

  @include respond(large) {
    .main_container {
      padding: 0px 30px 30px 30px;
    }
  }
  @include respond(medium) {
    .main_container {
      padding: 0px 60px 20px 60px;
    }
    .card_style {
      margin: 0;
      padding: 30px;
    }
    .body_div {
      padding: 0;
    }
  }

  @include respond(small) {
    .main_container {
      padding: 0px 15px 15px 15px;
    }
    .btn_gray {
      @include button(284px, $button, $white-color, 18px, 900);
      height: 40px;
      margin: 10px auto;
    }
    .body_div {
      padding: 0px;
    }
    .instruction_card_header {
      @include fontStyle(18px, 500, inherit);
    }
    .card_style {
      margin: 0;
      padding: 24px;
    }
  }
}
.parent_div_fromDoSelect {
  background: linear-gradient(180deg, $white-color 0%, $light-white 100%);
  padding: 40px 99px;
  @include respond(medium) {
    padding: 40px;
  }
  @include respond(small) {
    padding: 0;
  }
}
.form_doselect_wrapper {
  max-width: 1600px;
  margin: auto;
  .instruction_doselect_maindiv {
    background: $white-color;
    box-shadow: 0px 4px 12px $doselect-div-boxshadow;
    border-radius: 20px;
    padding: 51px 20px 20px 20px;
  }
  .steps_div {
    padding: 0 20%;
    margin: 46px 0px 40px 0px;
  }
  .steps_div img,
  svg {
    vertical-align: unset;
  }
  .steps_div :global {
    .ant-steps-item-icon .ant-steps-icon {
      position: relative;
      vertical-align: bottom;
      @include fontSize(10);
      line-height: 2.3;
    }
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
      background: $steps-clr;
      border: 2px solid $ant-steps-bg;
      box-sizing: border-box;
    }
    .ant-steps-item-finish .ant-steps-item-icon {
      background: $steps-clr;
      border: 2px solid $ant-steps-bg;
      box-sizing: border-box;
    }
    .anticon svg {
      color: $white-color;
    }
    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: $ant-title-clr;
    }
    .ant-steps-item-title::after {
      background-color: $ant-title-clr !important;
    }
    .ant-steps-item-icon {
      width: 50px;
      height: 50px;
    }
    .ant-steps-item-title {
      font-style: normal;
      font-weight: bold;
      @include fontSize(10);
      line-height: 50px;
    }
    .ant-steps-item-title::after {
      top: 26px;
    }
  }
  .steps_sub_heaader_div {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    @include fontSize(10);
    line-height: 24px;
    color: $normal-btn-txt-clr;
    background: $assessment-bg;
    border-radius: 10px;
    height: 50px;
    padding-left: 29px;
    display: flex;
    justify-content: left;
    align-items: center;
    @include respond(small) {
      @include fontSize(6);
    }
  }
  .steps_btn_div {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }
  .steps_content {
    padding: 0px 30px;
    svg {
      color: $grey-color;
    }
  }
  .line {
    height: 1px;
    margin: 30px;
    background: $line-bg;
    @include respond(small) {
      margin: 30px 25px;
    }
  }
  .common_div :global {
    padding: 49px 99px;
    background: linear-gradient(180deg, $white-color 0%, $light-white 100%);
    @media only screen and (max-width: 770px) {
      .instruction_header {
        @include fontStyle(18px, 900, inherit);
      }
    }
    .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-arrow {
      height: 1px;
    }
  }
  @media only screen and (max-width: 1158px) {
    .steps_div {
      padding: 0 20%;
      margin: 46px 0px 0px 0px;
    }
  }
  @media only screen and (max-width: 770px) {
    .steps_div {
      padding: 0 2%;
      margin: 46px 0px 0px 0px;
    }
    .instruction_header {
      @include fontStyle(18px, 900, inherit);
    }
    .common_div {
      padding: 10px;
    }
    .instruction_doselect_maindiv {
      padding: 20px 0px;
    }
  }
  @include respond(small) {
    .btn_gray {
      @include button(166px, $button, $white-color, 15px, 600);
      height: 40px;
    }
    .btn_normal {
      @include button(130px, $button, $white-color, 16px, 500);
      height: 40px;
    }
    .steps_content {
      padding: 0px 20px;
    }
    .instruction_doselect_maindiv {
      box-shadow: none;
    }
    .steps_sub_heaader_div {
      margin: 20px;
    }
  }
  @include respond(medium) {
    .steps_div {
      display: none;
    }
  }
  @include respond(large) {
    .steps_div {
      padding: 0 10%;
    }
  }
}
