@import "../../commonStyles/font.module.scss";
@import "../../commonStyles/color.module.scss";
@import "../../commonStyles/media-queries.scss";
@import "../../commonStyles/button.module.scss";
.highlight {
  color: $modal-header-txt;
  @include fontWeight(200);
}

.modal_text_div {
  padding: 10px;
}
.modal_head {
  background: $modal-head;
  height: 20px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  margin-top: -24px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal_body_text {
  @include fontStyle(16px, normal, $modal-body-txt);
}
.divider {
  margin: 0 6px 0 6px;
  width: 92%;
  min-width: 92%;
}
.xicon {
  float: right;
  padding: 20px 0px;
  cursor: pointer;
}
.modalContent {
  padding: 20px 25px;
  span {
    row-gap: 45px;
    flex-direction: column;
    display: flex;
    h1 {
      @include fontStyle(24px, 900, $modal-header-txt);
      text-align: center;
      padding: 64px 0px 5px 0px;
    }
    p {
      @include fontSize(6px);
      @include fontWeight(0);
      line-height: 24px;
      strong {
        color: $modal-header-txt;
      }
    }
  }
}
.modal_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 30px 0 10px;
  column-gap: 10px;
}
.btn {
  margin: 0;
  &.modal_cancel_btn {
    @include button(126px, $white-color, $cancel-btn-txt, 16px, 500);
    height: 40px;
    &:hover {
      background: $white-color;
      color: $cancel-btn-txt;
    }
    &:focus {
      background: $button;
      color: $cancel-btn-txt;
    }
    @include respond(small) {
      width: 296px;
      height: 40px;
    }
  }
  &.modal_submit_btn {
    @include button(282px, $button, $white-color, 16px, bold);
    height: 40px;
    &:hover {
      background: $button;
      color: $white-color;
    }
    &:focus {
      background: $button;
      color: $white-color;
    }
  }
}

.modal_class :global {
  .ant-divider-horizontal {
    background: $divider-clr;
  }
  .ant-modal-body {
    overflow: hidden;
  }
  .ant-modal-content {
    border-radius: 6px;
  }
}
